<div class="grid_9" id="news-list">
  <%= will_paginate @links %>
  
  <% if (@links.length==0) %>
    There's nothing here.
  <% elsif %>
    <%= render :partial => 'links' %>
  <% end %>

</div>

<div id="filter_wrapper" class="grid_3">
	
  <div id="filter">
    <h2>Don't Show</h2>
    <form action="" method="">
      <select id="filter-list">
        <% @filters.each do |id,name| %>
          <option value="<%=id%>"><%=name%></option>
        <% end %>
      </select>
      <input type="submit" value="add" />
    </form>
    <ul id="selected-filters">
      <% @active_filters.each do |id,name| %>
        <li><a id="<%=id%>" href="#"><%=name%></a></li>
      <% end %>
    </ul>
    <p>Add everything you hate to the list above and we'll keep it off your page.</p>
  </div>
<img src="/images/logo.png" alt="Agragr" id="logo" />
</div>
