<div class="grid_9" id="news-list">
  <%= will_paginate @links %>
  
  <% if (@links.length==0) %>
    There's nothing here.
  <% elsif %>
    <%= render :partial => 'links' %>
  <% end %>

</div>

<div id="filter_wrapper" class="grid_3">
  <div id="filter">
    <form action="" method="">
      <label>Don't show:</label>
      <select id="filter-list">
        <% @filters.each do |name,id| %>
          <option value="<%=id%>"><%=name%></option>
        <% end %>
      </select>
      <input type="submit" value="add" />
    </form>
    <ul id="selected-filters">
      <% @active_filters.each do |name,id| %>
        <li><a id="<%=id%>" href="#"><%=name%></a></li>
      <% end %>
    </ul>
  </div>
</div>
