<!DOCTYPE HTML>
<html>
<head>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<title></title>
	<%= stylesheet_link_tag "/stylesheets/reset.css" %>
	<%= stylesheet_link_tag "/stylesheets/styles.css" %>
	<%= stylesheet_link_tag "/stylesheets/960.css" %>
	<%= csrf_meta_tag %>
</head>
<body>
	<div id="wrap">
		<header>
			<h1>All the news or ReditReader</h1>
		</header>
		<div class="container_12">
			<%= yield %>
		</div>
	</div>
	<footer>
		footer text
	</footer>

</body>
</html>
