<!DOCTYPE HTML>
<html>
<head>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<title></title>
	<%= stylesheet_link_tag "/stylesheets/reset.css" %>
	<%= stylesheet_link_tag "/stylesheets/styles.css" %>
	<%= stylesheet_link_tag "/stylesheets/960.css" %>
	<%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
