<!DOCTYPE HTML>
<html>
<head>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<title>agragr</title>
	<%= stylesheet_link_tag "/stylesheets/reset.css" %>
	<%= stylesheet_link_tag "/stylesheets/styles.css" %>
	<%= stylesheet_link_tag "/stylesheets/960.css" %>
	<%= csrf_meta_tag %>
	<script type="text/javascript">
	  var rumbleUrl = 'http://railsrumble.com';
	</script>
	<script type="text/javascript" src="/javascripts/rumble-r10-sash.js"></script>
	<script type="text/javascript" src="/javascripts/mootools-core-1.3.js"> </script>
</head>
<body>
	<div id="wrap">
		<!--div id="top_links">
			about 
		</div-->
		<header>
			<h1>agragr: The Aggregator Aggregator</h1>
		</header>
		<nav class="clearfix">
			<ul id="topics">
				<li id="topic1" class="topic"><a href="#">topic 1</a></li>
				<li id="topic2" class="topic"><a href="#">topic 2</a></li>
				<li id="topic3" class="topic"><a href="#">topic 3</a></li>
				<li id="topic4" class="topic"><a href="#">topic 4</a></li>
			</ul>
		</nav>
		<div id="content" class="container_12 clearfix">
			<%= yield %>
		</div>
	</div>
	<footer>
		© 2010 | made for Rails Rumble 2010
	</footer>
  <%= javascript_include_tag :defaults %>
</body>
</html>
