<!DOCTYPE HTML>
<html>
<head>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<title></title>
	<%= stylesheet_link_tag "/stylesheets/reset.css" %>
	<%= stylesheet_link_tag "/stylesheets/styles.css" %>
	<%= stylesheet_link_tag "/stylesheets/960.css" %>
	<%= csrf_meta_tag %>
	<script type="text/javascript">
	  var rumbleUrl = 'http://railsrumble.com';
	</script>
	<script type="text/javascript" src="/javascripts/rumble-r10-sash.js">
	</script>
</head>
<body>
	<div id="wrap">
		<div id="top_links">
			about 
		</div>
		<header>
			<h1>All the news or ReditReader</h1>
		</header>
		<nav class="clearfix">
			<ul id="topics">
				<li id="topic1" class="topic">topic 1</li>
				<li id="topic2" class="topic disabled">topic 2</li>
				<li id="topic3" class="topic">topic 3</li>
				<li id="topic4" class="topic">topic 3</li>
			</ul>
		</nav>
		<div id="content" class="container_12 clearfix">
			<%= yield %>
		</div>
	</div>
	<footer>
		© 2010 | made for Rails Rumble 2010
	</footer>

</body>
</html>
