<!DOCTYPE HTML>
<html>
<head>
	<meta name="keywords" content="news, reddit, hacker news, fark" />
	<meta name="description" content="" />
	<title>agragr</title>
	<%= stylesheet_link_tag "/stylesheets/reset.css" %>
	<%= stylesheet_link_tag "/stylesheets/styles.css" %>
	<%= stylesheet_link_tag "/stylesheets/960.css" %>
	<%= csrf_meta_tag %>
  <script type="text/javascript" src="/javascripts/mootools-core-1.3.js"></script>
<body>
	<div id="wrap">
		<div id="header">
				<h1 style="display:none">Agragr</h1>
				<h2 style="display: none">We aggregated your aggregators so you can slack off while you slack off.</h2>
			
		</div>

		<div id="nav" class="clearfix">
			<ul id="topics">
      <% @topics.each do |topic| %>
				<li id="<%=topic.name%>" class="topic <%= topic.name %> <%= (topic.disabled(session)) ? 'disabled' : '' %>"><a href="#"><%=topic.name%></a></li>
      <% end %>
			</ul>
			
		</div>

		<div id="content" class="container_12 clearfix">
			<%= yield %>
		</div>
	</div>
<div id="footer">&copy; 2010 | made for <a href="http://railsrumble.com">Rails Rumble 2010</a> | team <a href="http://railsrumble.com/teams/electric-sheep">Electric Sheep</a>
	</div>
  <script type="text/javascript" src="/javascripts/application.js"></script>
</body>
</html>
